<!DOCTYPE html>
<html>
<head>
    <title>Trang Đăng Nhập</title>

</head>
<body >
   
    <div class="container" style="background-image: url(https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
        <div class="form-container">
            <h2>Đăng nhập</h2>
            <form>
                <label for="username">Tên đăng nhập:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Đăng nhập</button>
            </form>
        </div>
    </div>
  
</body>
</html>