<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="dashboard-container vh-100">
    <h2>Hân hạnh chào đón {{name}} <p style="font-size: 20px; font-weight: normal;">Giờ bạn có thể cung cấp nơi ở</p></h2>
    
    
    <div class="button mt-4" >
      <button (click)="currentView = 'myRooms'" [class.active]="currentView === 'myRooms'">
        Phòng của bạn
      </button>
      <button (click)="currentView = 'ongoingBookings'" [class.active]="currentView === 'ongoingBookings'">
        Đã được đặt
      </button>
      <button (click)="currentView = 'onStaying'" [class.active]="currentView === 'onStaying'">
        Đang tiếp đón
      </button>
    <i class="bi bi-plus-circle mode " (click)="toPost()"></i>
    </div>
  
    <div class="content ">
      <ng-container *ngIf="currentView === 'onStaying'">
        <div class="row">
          <!-- Card 1 -->
           <div *ngIf="staying.length==0" style="color: red; font-weight: bolder;">Chưa có phòng nào đang tiếp đón</div>
          <div class="col-md-3 mb-4"  *ngFor="let i of staying">
            <div style="height: 380px;" class="card" (click)="OnitemClick2(i)" >
              <img src={{i.thumnail}} class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.city}}, {{i.provin}}, {{i.contry}}</p>
              
                <div class="content-wrapper">
                  <div class="info-column" (click)="OnitemClick(i)">
                    
                    <p class="price"><strong>{{i.gia}} VND</strong></p>
                  </div>
                  <div class="button-column">
                    <button style="height: 40px; width: 100px;  ; background-color: rgb(15, 115, 246);" type="submit" class="btn btn-primary" value="Đã Checkin" (click)="OnitemClick5(i)">Đã checkout</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </ng-container>
      <ng-container *ngIf="currentView === 'myRooms'">
        <!-- Nội dung cho "Phòng của bạn" -->
        <div class="row">
          <!-- Card 1 -->
           <div *ngIf="added.length==0" style="color: red; font-weight: bolder;">Bạn chưa thêm phòng nào</div>
          <div class="col-md-3 mb-4" *ngFor="let i of added">
            <div class="card" (click)="OnitemClick2(i)" >
              <img src={{i.thumnail}} class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.city}}, {{i.provin}}, {{i.contry}}</p>
                <p class="rating">⭐ 4.8 (30)</p>
                <p class="card-text"><strong>{{i.gia}} VNĐ</strong></p>
              </div>
            </div>
          </div>    
        </div>
      </ng-container>
  
      <ng-container *ngIf="currentView === 'ongoingBookings'">
        <!-- Nội dung cho "Đang tiếp đón" -->
        <div class="row">
            <!-- Card 1 -->
            <div *ngIf="rented.length==0" style="color: red; font-weight: bolder;">Chưa có phòng nào của bạn được đặt</div>
            <div class="col-md-3 mb-4" *ngFor="let i of rented">
              <div class="card" style="height: 400px;" >
                <img  (click)="OnitemClick(i)" src={{i.thumnail}} class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
                <div class="card-body">
                  <h5 class="card-title" (click)="OnitemClick(i)">{{i.title}}</h5>
                  <p class="card-text" style="margin: 0px;">{{i.city}}, {{i.provin}}, {{i.contry}}</p>
                  <p class="card-text" >Khách hàng: {{i.cus}}</p>
                  <div class="content-wrapper">
                    <div class="info-column" (click)="OnitemClick(i)">
                      
                      <p class="price"><strong>{{i.gia}} VND</strong></p>
                      
                    </div>
                    <div class="button-column">
                      <button style="height: 40px; width: 100px;  ; background-color: rgb(15, 115, 246);" type="submit" class="btn btn-primary" value="Đã Checkin" (click)="OnitemClick3(i)">Đã Checkin</button>
                      <button style="height: 40px; width: 100px;  ; background-color: rgb(15, 115, 246);" type="submit" class="btn btn-primary" value="Hủy" (click)="OnitemClick4(i)">Hủy</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </ng-container>
    </div>
   

  </div>
  