<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url('assets/images/banner1.png');">
    <div class="logo">
        <img src="assets/images/logo.png" (click)="gohome()" alt="">
    </div>

    <!-- <ul class="nav-list-big text-left">
        <li><a href="#property" class="list-item ">Tin nhắn</a></li>
        <li><a href="#service" class="list-item  ">Thông báo</a></li>
        <li><a href="#product" class="list-item product">Danh sách yêu thích</a></li>
        <hr>
        <li><a href="login" class="list-item" >Chuyển đổi vai trò chủ nhà</a></li>
        <li><a href="#aboutus  " class="list-item">Giới thiệu chủ nhà</a></li>
        <li><a href=" #contact" class="list-item contact ">Tài khoản</a></li>
        <hr>
        <li><a href="#property" class="list-item ">Tin nhắn</a></li>
        <li><a href="#service" class="list-item  ">Thông báo</a></li>


    </ul> -->
    <nav class="navbar">
        <div class="container" >
            
            
            <div class="mobile-menu" [ngClass]="{'active': isActive}" 
            (mousedown)="toggleActive()">
                <div class="line line1 "></div>
                <div class="line line2 "></div>
                <div class="line line3 "></div>     
            </div>
            
        </div>
    </nav>
    <ul *ngIf="isListVisible" class="nav-list-small" >
        <li><a href="#property" class="list-item ">Tin nhắn</a></li>
        <li><a href="#service" class="list-item  ">Thông báo</a></li>
        <li><a href="#product" class="list-item product">Danh sách yêu thích</a></li>
        <hr class="text-light">
        <li><a href="login" class="list-item" >Chuyển đổi vai trò chủ nhà</a></li>
        <li><a href="#aboutus  " class="list-item">Giới thiệu chủ nhà</a></li>
        <li><a href=" #contact" class="list-item contact ">Tài khoản</a></li>
        <hr class="border-light">
        <li><a href="#property" class="list-item ">Tin nhắn</a></li>
        <li><a href="#service" class="list-item  ">Thông báo</a></li>
    </ul>   
</body>
</html>