<!DOCTYPE html>
<html>
<head>
    <title>Trang Đăng Nhập</title>

</head>
<body >
   
    <div class="container" style="background-image: url(assets/images/banner.png)">
        <div class="form-container">
            <h2>ĐĂNG KÝ</h2>
            <form>
                <label for="username" >Tên đăng nhập:</label>
                <input type="text"  #username name="username" required  [ngClass]="{ 'invalid-input': !name || !nameagain }">
                <p *ngIf="!name" class="error-message">nhập tên người dùng</p>
                <p *ngIf="!nameagain" class="error-message">Tên đăng nhập đã được sử dụng</p>

                <label for="password"  >Mật khẩu:</label>
                <input type="password" id="password" #password required [ngClass]="{ 'invalid-input': !pass }">
                <p *ngIf="!pass" class="error-message">nhập  mật khẩu</p>
                <label for="phone">Số điện thoại</label>
                <input type="text" #phone  required [ngClass]="{ 'invalid-input': !phone1 }" name="phone">
                <p *ngIf="!phone1" style="color: red;">nhập số điện thoại</p>

                <label for="password" >Địa chỉ Email</label>
                <input type="password" #email name="password" required [formControl]="emailFormControl" [ngClass]="{'invalid-input': emailFormControl.invalid && emailFormControl.touched || !email1}">
             
                <div *ngIf="emailFormControl.invalid && emailFormControl.touched || !email1" style="color: red;">
                    Địa chỉ email không hợp lệ.
                  </div>
                <button type="button" (click)="submit(username,password,phone,email)">Đăng ký</button>
            </form>
            <div class="logo">
            <a href="https://www.facebook.com/yourpage" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook Logo">
              </a>
              <a href="https://www.google.com" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="Google Logo">
              </a>
            </div>
        </div>
    </div>
  
</body>
</html>

