<!DOCTYPE html>
<html>
<head>
    <title>Trang Đăng Nhập</title>

</head>
<body >
   
    <div class="container" style="background-image: url(https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
        <div class="form-container">
            <h2>ĐĂNG KÝ</h2>
            <form>
                <label for="username">Tên đăng nhập:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password" required>

                <label for="password">Số điện thoại</label>
                <input type="password" id="password" name="password" required>

                <label for="password">Địa chỉ Email</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Đăng ký</button>
            </form>
            <div class="logo">
            <a href="https://www.facebook.com/yourpage" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook Logo">
              </a>
              <a href="https://www.google.com" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="Google Logo">
              </a>
            </div>
        </div>
    </div>
  
</body>
</html>

