<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Rent Services</title>
    
</head>

<body>
    <!-- header  -->
    <section class="header" style="background-image: url(assets/images/banner1.png);">
        <img src="assets/images/banner1" alt="">
        <div class="container">
            <div class="header-info">
                <h1 class="header-headline">your perfect home waiting for you </h1>
                <p class="header-subtitle">
                    we help you get your dream house with us.
                    We are professional house consultant
                </p>

                <a href="" class="cta">Explore Now</a>
            </div>
        </div>
    </section>
    <!-- header  -->

    <!-- search box -->
    <form>
        <div class="container">
            <div class="input">
                <input type="text" placeholder="loaction">
                <img src="assets/images/location.svg" alt="">
            </div>
            <div class="input">
                <input type="text" placeholder="type">
                <img src="assets/images/home1.svg" alt="" id="">
            </div>
            <div class="input">
                <input type="text" placeholder="budget">
                <img src="assets/images/money.svg" alt="" width="10px">
            </div>
            <div class="input search">
                <input type="submit" value="search now">

            </div>
        </div>
    </form>
    <!-- search box -->

    <!-- product  -->
    <section id="product">
        <div class="product-info">
            <h2 class="product-title">
                our Popular Residence
            </h2>

            <a href="" class="product-btn">
                Explore All
                <img src="assets/images/arrow.svg" alt="">
            </a>
        </div>
        <div class="container">
            <div class=" product-card " *ngFor="let i of SP"  (click)="OnitemClick(i)">
                
                <img src={{i.thumnail}} class="card-img-top product-img" alt="Room Image">
                
            <div class="card-info">
                <div class="card-info-content">
                    <img src="assets/images/location.svg" alt="">
                    <p class="loaction-name">{{i.provin}}, {{i.country}}</p>
                </div>

                <div class="card-info-content">
                        <div >
                            <p class="card-text">
                                <small class="text-muted">Cách 3 km</small><br>
                                Ngày {{i.ngaynhan}}-{{i.ngaytra}}
                            </p>
                        </div>
                   
                    </div>
                    <div class="price">
                        
                        <p style="margin-left: 0;">{{i.gia}}đ</p>
                        <a href="" class="booking-btn">Book Now</a>
                    </div> 
                  
                            
                        </div>
                    </div>
                </div>
        
           
           

   


