<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Rent Services</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
</head>

<body>
    <!-- header  -->
    <section class="header" style="background-image: url(assets/images/banner1.png);">
        <img src="assets/images/banner1" alt="">
        <div class="container">
            <div class="header-info">
                <h1 class="header-headline">your perfect home waiting for you </h1>
                <p class="header-subtitle">
                    we help you get your dream house with us.
                    We are professional house consultant
                </p>

                
            </div>
        </div>
    </section>
    <!-- header  -->

    <!-- product  -->
    <section id="product">
        <div class="product-info">
            <h2 class="product-title">
                Tất cả nhà nghỉ hiện có
            </h2>

            <a href="" class="product-btn">
                Explore All
                <img src="assets/images/arrow.svg" alt="">
            </a>
        </div>
        <div class="container">
            <div class=" product-card " *ngFor="let i of SP"  >
                <p style="position: relative;text-align: right; width: 320px; color: red;">
                    
                    <i  [ngClass]="{'active': check(i)}" class=" bi-heart position-absolute "
                    (click)="toggleActive2(i)"  [ngClass]="{'active': check(i)} " ></i>
                  
                    
                </p>
             
                <img src={{i.thumnail}} class="card-img-top product-img" alt="Room Image" (click)="OnitemClick(i)">
               
               
             

            <div class="card-info" (click)="OnitemClick(i)">
                <div class="card-info-content">
                    <img src="assets/images/location.svg" alt="">
                   
                    <p class="loaction-name">{{i.provin}}, {{i.country}}</p>
                </div>

                <div class="card-info-content">
                        <div >
                            <p class="card-text">
                                <small class="text-muted">Cách 3 km</small><br>
                                Ngày {{i.ngaynhan}}-{{i.ngaytra}}
                            </p>
                        </div>
                    <!-- Biểu tượng trái tim -->
                
                    </div>
                    <div class="price">
                        
                        <p style="margin-left: 0;">{{i.gia}}đ</p>
                        <a href="" class="booking-btn">Book Now</a>
                    </div> 
                  
                            
                        </div>
                    </div>
                </div>
        
           
           

   


