<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="dashboard-container vh-100">
    <h2>Hân hạnh chào đón {{name}}!</h2>
    
    <div class="button mt-4" >
      <button (click)="currentView = 'myRooms'" [class.active]="currentView === 'myRooms'">
        Danh sách yêu thích
      </button>
      <button (click)="currentView = 'ongoingBookings'" [class.active]="currentView === 'ongoingBookings'">
        Phòng đang đặt
      </button>
   
    </div>
  
    <div class="content ">
      <ng-container *ngIf="currentView === 'myRooms'">
        <!-- Nội dung cho "Phòng của bạn" -->
        <div class="row">
          <!-- Card 1 -->
          <div *ngIf="wishhouse.length==0" style="color: red; font-weight: bolder;">Bạn chưa thích phòng nào cả</div>
          <div class="col-md-3 mb-4" *ngFor="let i of wishhouse">
            <div class="card">
              <img src={{i.thumnail}} class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.city}}, {{i.provin}}, {{i.contry}}</p>
                <p class="card-text">⭐ 4.8 (30)</p>
                <p class="card-text"><strong>{{i.gia}} VND</strong></p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
  
      <ng-container *ngIf="currentView === 'ongoingBookings'">
        <!-- Nội dung cho "Đang tiếp đón" -->
        <div class="row">
            <!-- Card 1 -->
            <div *ngIf="rented.length==0" style="color: red; font-weight: bolder;">Bạn chưa đặt phòng nào cả</div>
            <div class="col-md-3 mb-4" *ngFor="let i of rented">
              <div class="card" (click)="OnitemClick(i)">
                <img src={{i.thumnail}} class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
                <div class="card-body">
                  <h5 class="card-title">{{i.title}}</h5>
                  <p class="card-text">{{i.city}}, {{i.provin}}, {{i.contry}}</p>
                  <p class="card-text">⭐ 4.8 (30)</p>
                  <p class="card-text"><strong>{{i.gia}} VND</strong></p>
                </div>
              </div>
            </div>
        </div>
      </ng-container>
    </div>
    <!--Tiếp theo-->

    <div class="container-fluid my-3 modify">
        <h3>Chúng tôi luôn sẵn sàng trợ giúp</h3>
        <div class="row mt-4 ma">
          <!-- Card 1 -->
          <div class="col-md-4">
            <div class="help-card p-4">
              <h5>Liên hệ bộ phận hỗ trợ đặc biệt</h5>
              <p>Bạn có thể liên hệ bộ phận hỗ trợ cho bất kỳ khó khăn nào đang gặp phải</p>
            </div>
          </div>
          
          <!-- Card 2 -->
          <div class="col-md-4">
            <div class="help-card p-4">
              <h5>Tìm kiếm các chủ nhà khác gần đó</h5>
              <p>Bạn có thể tìm kiếm các chủ nhà khác như bạn gần nơi của bạn để kết nối</p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <div class="position-relative">
          <!-- Hình ảnh trong card -->
          <img src="assets\images\tphcm.jpg" class="card-img-top" alt="Image">
          <!-- Biểu tượng trái tim -->
          <i class=" bi-heart position-absolute top-0 end-0 p-2" id="heart-icon" [ngClass]="{'active': isActive} " 
          (click)="toggleActive()" ></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Tiêu đề Card</h5>
          <p class="card-text">Một vài mô tả về card này.</p>
        </div>
      </div>
      

  </div>
  