<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="dashboard-container vh-100">
    <h2>Hân hạnh chào đón {{name}}!</h2>
    
    <div class="button mt-4" >
      <button (click)="currentView = 'myRooms'" [class.active]="currentView === 'myRooms'">
        Danh sách yêu thích
      </button>
      <button (click)="currentView = 'ongoingBookings'" [class.active]="currentView === 'ongoingBookings'">
        Phòng đang đặt
      </button>
      <button (click)="currentView = 'myStaying'" [class.active]="currentView === 'myStaying'">
        Phòng đang ở
      </button> 
      <button (click)="currentView = 'waitting'" [class.active]="currentView === 'waitting'">
        Đang chờ đánh giá
      </button> 
      <button (click)="currentView = 'myHistory'" [class.active]="currentView === 'myHistory'">
        Lịch sử thuê phòng
      </button> 
      <button (click)="currentView = 'myinfo'" [class.active]="currentView === 'myinfo'">
        Thông tin tài khoản
      </button>

      
   
    </div>
  
    <div class="content ">
      <ng-container *ngIf="currentView === 'waitting'">
        <div class="row">
          <!-- Card 1 -->
          <div *ngIf="waitCommentdetail.length==0" style="color: red; font-weight: bolder;">Chưa có chỗ ở nào cần đánh giá</div>
          <div class="col-md-3 mb-4" *ngFor="let i of waitCommentdetail">
            <div class="card" style="height: 380px;"  *ngIf="dacomment!=i.ma" >
              <img (click)="OnitemClick1(i)" src={{i.thumnail}} class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title" (click)="OnitemClick1(i)">{{i.title}}</h5>
                <p class="card-text" (click)="OnitemClick1(i)">{{i.city}}, {{i.provin}}, {{i.contry}}</p>
                <p class="card-text">⭐ 4.8 (30)</p>
                <div class="content-wrapper">
                  <div class="info-column" (click)="OnitemClick(i)">
                    
                    <p (click)="OnitemClick1(i)" class="price"><strong>{{i.gia}} VND</strong></p>
                  </div>
                  <div class="button-column">
                    <button style="height: 40px; width: 150px;  ; background-color: rgb(15, 115, 246);" type="submit" class="btn btn-primary" value="Đã Checkin" (click)='openPopup(i)'>Thêm đánh giá</button>
                    <!-- Popup -->
<div class="popup" *ngIf="popcheck==i.ma" (click)="closePopup($event)">
  <div class="popup-content">
    <h3>Đánh giá của bạn</h3>
    <input style="margin-bottom: 10px;"  type="number" placeholder="Số sao đánh giá" #start min="1" max="5">
    <textarea placeholder="Nhập đánh giá của bạn..." rows="5" style="width: 100%;" #danhgia></textarea>
    <div class="popup-actions">
      <button class="btn" (click)="submitRating(i, start, danhgia)">Gửi</button>
      <button class="btn" (click)="closePopup()">Đóng</button>
    </div>
  </div>
</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="currentView === 'myHistory'">
        <div class="row">
          <!-- Card 1 -->
          <div *ngIf="historydetail.length==0" style="color: red; font-weight: bolder;">Bạn chưa thích phòng nào cả</div>
          <div class="col-md-3 mb-4" *ngFor="let i of historydetail">
            <div class="card" (click)="OnitemClick1(i)">
              <img src={{i.thumnail}} class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.city}}, {{i.provin}}, {{i.contry}}</p>
                <p class="card-text">⭐ 4.8 (30)</p>
                <p class="card-text"><strong>{{i.gia}} VND</strong></p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="currentView === 'myStaying'">
        <div class="row">
          <!-- Card 1 -->
          <div *ngIf="staying.length==0" style="color: red; font-weight: bolder;">Bạn chưa thích phòng nào cả</div>
          <div class="col-md-3 mb-4" *ngFor="let i of staying">
            <div class="card" (click)="OnitemClick1(i)">
              <img src={{i.thumnail}} class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.city}}, {{i.provin}}, {{i.contry}}</p>
                <p class="card-text">⭐ 4.8 (30)</p>
                <p class="card-text"><strong>{{i.gia}} VND</strong></p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="currentView === 'myinfo'">
        <form>
          <label for="username" >Tên đăng nhập:</label>
          <input type="text"  #username name="username" required  [ngClass]="{ 'invalid-input': !name || !nameagain }" [value]="user.username">
          <p *ngIf="!name" class="error-message">nhập tên người dùng</p>
          <p *ngIf="!nameagain" class="error-message">Tên đăng nhập đã được sử dụng</p>

          <label for="password"  >Mật khẩu:</label>
          <input type="tẽt" id="password" #password required [ngClass]="{ 'invalid-input': !pass }"  [value]="user.pass">
          <p *ngIf="!pass" class="error-message">nhập  mật khẩu</p>
          <label for="phone">Số điện thoại</label>
          <input type="text" #phone  required [ngClass]="{ 'invalid-input': !phone1 }" name="phone"  [value]="user.phone">
          <p *ngIf="!phone1" style="color: red;">nhập số điện thoại</p>

          <label for="password" >Địa chỉ Email</label>
          <input type="text" #email name="password"  [ngClass]="{'invalid-input': emailFormControl.invalid && emailFormControl.touched || !email1}"  [value]="user.email">
       
          <div *ngIf="emailFormControl.invalid && emailFormControl.touched || !email1" style="color: red;">
              Địa chỉ email không hợp lệ.
            </div>
          <button type="button" (click)="submit(username,password,phone,email)">Sửa thông tin</button>
      </form>
      </ng-container>
      <ng-container *ngIf="currentView === 'myRooms'">
        <!-- Nội dung cho "Phòng của bạn" -->
        <div class="row">
          <!-- Card 1 -->
          <div *ngIf="wishhouse.length==0" style="color: red; font-weight: bolder;">Bạn chưa thích phòng nào cả</div>
          <div class="col-md-3 mb-4" *ngFor="let i of wishhouse">
            <div class="card" (click)="OnitemClick1(i)">
              <img src={{i.thumnail}} class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.city}}, {{i.provin}}, {{i.contry}}</p>
                <p class="card-text">⭐ 4.8 (30)</p>
                <p class="card-text"><strong>{{i.gia}} VND</strong></p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
  
      <ng-container *ngIf="currentView === 'ongoingBookings'">
        <!-- Nội dung cho "Đang tiếp đón" -->
        <div class="row">
            <!-- Card 1 -->
            <div *ngIf="rented.length==0" style="color: red; font-weight: bolder;">Bạn chưa đặt phòng nào cả</div>
            <div class="col-md-3 mb-4" *ngFor="let i of rented">
              <div class="card" (click)="OnitemClick(i)">
                <img src={{i.thumnail}} class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
                <div class="card-body">
                  <h5 class="card-title">{{i.title}}</h5>
                  <p class="card-text">{{i.city}}, {{i.provin}}, {{i.contry}}</p>
                  <p class="card-text">⭐ 4.8 (30)</p>
                  <p class="card-text"><strong>{{i.gia}} VND</strong></p>
                </div>
              </div>
            </div>
        </div>
      </ng-container>
    </div>
    <!--Tiếp theo-->

    <div class="container-fluid my-3 modify">
        <h3>Chúng tôi luôn sẵn sàng trợ giúp</h3>
        <div class="row mt-4 ma">
          <!-- Card 1 -->
          <div class="col-md-4">
            <div class="help-card p-4">
              <h5>Liên hệ bộ phận hỗ trợ đặc biệt</h5>
              <p>Bạn có thể liên hệ bộ phận hỗ trợ cho bất kỳ khó khăn nào đang gặp phải</p>
            </div>
          </div>
          
          <!-- Card 2 -->
          <div class="col-md-4">
            <div class="help-card p-4">
              <h5>Tìm kiếm các chủ nhà khác gần đó</h5>
              <p>Bạn có thể tìm kiếm các chủ nhà khác như bạn gần nơi của bạn để kết nối</p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <div class="position-relative">
          <!-- Hình ảnh trong card -->
          <img src="assets\images\tphcm.jpg" class="card-img-top" alt="Image">
          <!-- Biểu tượng trái tim -->
          <i class=" bi-heart position-absolute top-0 end-0 p-2" id="heart-icon" [ngClass]="{'active': isActive} " 
          (click)="toggleActive()" ></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Tiêu đề Card</h5>
          <p class="card-text">Một vài mô tả về card này.</p>
        </div>
      </div>
      

  </div>
  