<body>
<b>Thông báo</b>


<div class="info">
<div class="card">
    <img src="assets/images/logo.png" alt="">
    <h5>Bạn vui lòng xác nhận đại chỉ email</h5>
    <p>9:54-12/11/2004</p>
</div>
<div class="card">
    <img src="assets/images/logo.png" alt="">
    <h5>Bạn vừa đặt phòng thành công</h5>
    <p>9:54-12/11/2004</p>
</div>
<div class="card">
    <img src="assets/images/logo.png" alt="">
    <h5>Bạn đã thanh toán thành công</h5>
    <p>9:54-12/11/2004</p>
</div>
<div class="card">
    <img src="assets/images/logo.png" alt="">
    <h5>Bạn vừa nhận được ưu đãi chỉ áp dụng vào hôm nay</h5>
    <p>9:54-12/11/2004</p>
</div>
</div>
</body>