
  <div class="container-fluid p-5 text-light main">
    <!-- Navbar -->
    <div class="d-flex justify-content-between align-items-center mb-4 border-nav text-center mode ">
      <nav class="nav h5">
        <a class="nav-link text-light" href="#">Hướng biển</a>
        <a class="nav-link text-light" href="#">Được ưa chuộng</a>
        <a class="nav-link text-light" href="#">Công viên</a>
        <a class="nav-link text-light" href="#">Nông thôn</a>
        <a class="nav-link text-light" href="#">Nhà nhỏ</a>
        <a class="nav-link text-light" href="#">Biệt thự</a>
        <a class="nav-link text-light" href="#">Hồ bơi</a>
        <a class="nav-link text-light" href="#">Phục vụ bữa sáng</a>
        <a class="nav-link text-light" href="#">Spa & xông hơi</a>
        <a class="nav-link text-light" href="#">Phòng gym</a>
        <a class="nav-link text-light" href="#">Dịch vụ massage</a>
        
        <a class="nav-link text-light" href="#">&#10140;</a>
      </nav>
    </div>


<div class="container-fluid full-height-div">
    <!-- Khu Vực Hiển Thị Danh Sách Homestay và Bản Đồ -->
    <div class="row main">
      <!-- Danh Sách Homestay -->
      <div class="col-md-9 main mb-4 ml-4">
        <div class="row" >
          <!-- Homestay 1 -->
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="assets/images/banner1.png" class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">Homestay Đà Lạt Màu Đen</h5>
                <p class="card-text">Đà Lạt, Lâm Đồng, Việt Nam</p>
                <p class="card-text price ">1,917,389 VND</p>
              </div>
            </div>
          </div>
           <!-- Homestay 1 -->
           <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="assets/images/banner1.png" class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">Homestay Đà Lạt Màu Đen</h5>
                <p class="card-text">Đà Lạt, Lâm Đồng, Việt Nam</p>
                <p class="card-text">1,917,389 VND</p>
              </div>
            </div>
          </div>

           <!-- Homestay 1 -->
           <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="assets/images/banner1.png" class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">Homestay Đà Lạt Màu Đen</h5>
                <p class="card-text">Đà Lạt, Lâm Đồng, Việt Nam</p>
                <p class="card-text">1,917,389 VND</p>
              </div>
            </div>
          </div>

           <!-- Homestay 1 -->
           <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="assets/images/banner1.png" class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">Homestay Đà Lạt Màu Đen</h5>
                <p class="card-text">Đà Lạt, Lâm Đồng, Việt Nam</p>
                <p class="card-text">1,917,389 VND</p>
              </div>
            </div>
          </div>

           <!-- Homestay 1 -->
           <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="assets/images/banner1.png" class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">Homestay Đà Lạt Màu Đen</h5>
                <p class="card-text">Đà Lạt, Lâm Đồng, Việt Nam</p>
                <p class="card-text">1,917,389 VND</p>
              </div>
            </div>
          </div>

           <!-- Homestay 1 -->
           <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="assets/images/banner1.png" class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">Homestay Đà Lạt Màu Đen</h5>
                <p class="card-text">Đà Lạt, Lâm Đồng, Việt Nam</p>
                <p class="card-text">1,917,389 VND</p>
              </div>
            </div>
          </div>

           <!-- Homestay 1 -->
           <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="assets/images/banner1.png" class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">Homestay Đà Lạt Màu Đen</h5>
                <p class="card-text">Đà Lạt, Lâm Đồng, Việt Nam</p>
                <p class="card-text">1,917,389 VND</p>
              </div>
            </div>
          </div>

           <!-- Homestay 1 -->
           <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="assets/images/banner1.png" class="card-img-top" alt="Homestay Đà Lạt Màu Đen">
              <div class="card-body">
                <h5 class="card-title">Homestay Đà Lạt Màu Đen</h5>
                <p class="card-text">Đà Lạt, Lâm Đồng, Việt Nam</p>
                <p class="card-text">1,917,389 VND</p>
              </div>
            </div>
          </div>
          
          <!-- Homestay 2 -->
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="assets/images/banner1.png" class="card-img-top" alt="Homestay Phú Cổ Hội An">
              <div class="card-body">
                <h5 class="card-title">Homestay Phú Cổ Hội An</h5>
                <p class="card-text">Hội An, Quảng Nam, Việt Nam</p>
                <p class="card-text">2,500,000 VND</p>
              </div>
            </div>
          </div>
  
          <!-- Homestay 3 -->
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="assets/images/banner1.png" class="card-img-top" alt="Homestay Quận 1">
              <div class="card-body">
                <h5 class="card-title">Homestay Quận 1</h5>
                <p class="card-text">Quận 1, TP.HCM, Việt Nam</p>
                <p class="card-text">3,000,000 VND</p>
              </div>
            </div>
          </div>
  
          <!-- Homestay 4 -->
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="assets/images/banner1.png" class="card-img-top" alt="Homestay Biển Hạ Long">
              <div class="card-body">
                <h5 class="card-title">Homestay Biển Hạ Long</h5>
                <p class="card-text">Hạ Long, Quảng Ninh, Việt Nam</p>
                <p class="card-text">2,000,000 VND</p>
              </div>
            </div>
          </div>
  
          <!-- Thêm các homestay khác tại đây theo cấu trúc tương tự -->
        </div>
      </div>
  
      <!-- Khu Vực Bản Đồ -->
      <div class="col-md-3 mt-4">
        <div class="sticky-top">
          <div class="map-container bg-light" style="height: 100%; min-height: 300px;">
            <img src="assets/images/ggmap.jpg" alt="Map" style="width: 100%; height: 100%;">
          </div>
        </div>
      </div>
    </div>
  </div>
  